{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
sudo apt update
sudo apt install -y ripgrep
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/bash
brew install ripgrep lua
{{ end -}}

# tmux plugin manager
if ! [ -d ~/.config/tmux/plugins ]; then
	git clone https://github.com/tmux-plugins/tpm ~/.config/tmux/plugins/tpm
fi
