{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
sudo apt update
sudo apt install -y ripgrep luarocks lua@5.1 zip
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/bash
brew install ripgrep lua luarocks stylua
{{ end -}}

# tmux plugin manager
if ! [ -d ~/.config/tmux/plugins ]; then
	git clone https://github.com/tmux-plugins/tpm ~/.config/tmux/plugins/tpm
fi

# goimports_reviser
go install -v github.com/incu6us/goimports-reviser/v3@latest

{{ if eq .chezmoi.os "linux" -}}
# Stylua
wget -O /tmp/stylua.zip \
    https://github.com/JohnnyMorganz/StyLua/releases/download/v0.20.0/stylua-linux-x86_64.zip

unzip -o /tmp/stylua.zip -d /tmp
mv /tmp/stylua ~/.bin/stylua
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
# fd
wget -O /tmp/fd.tar.gz \
    https://github.com/sharkdp/fd/releases/download/v10.2.0/fd-v10.2.0-x86_64-unknown-linux-gnu.tar.gz

tar xzf /tmp/fd.tar.gz -C /tmp
mv /tmp/fd-v10.2.0-x86_64-unknown-linux-gnu/fd ~/.bin/fd
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
echo "export PATH=\$PATH:~/.bin" >> ~/.zshrc
{{ end -}}

