set -g detach-on-destroy off
set -g allow-passthrough on
set -g mouse on
set -g base-index 1
set -g pane-base-index 1
set -g renumber-windows on
set -g status-position top
{{ if eq .chezmoi.os "linux" -}}
set-option -g default-terminal "xterm"
set -ga terminal-overrides ",xterm:RGB"
{{ else if eq .chezmoi.os "darwin" -}}
set-option -g default-terminal "screen-256color"
set -ga terminal-overrides ",alacritty:RGB"
{{ end -}}

unbind r
bind r source-file ~/.config/tmux/tmux.conf

setw -g mode-keys vi
bind-key h select-pane -L
bind-key j select-pane -D
bind-key k select-pane -U
bind-key l select-pane -R

unbind C-b
set -g prefix C-Space
bind C-Space send-prefix

# Check TPM installation
if-shell "[ ! -d ~/.config/tmux/plugins/tpm ]" \
	"run-shell 'git clone https://github.com/tmux-plugins/tpm ~/.config/tmux/plugins/tpm && ~/.config/tmux/plugins/tpm/bin/install_plugins'"

set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'catppuccin/tmux'

set -g default-command '$SHELL' # temporary solution for tmux-sensible

source-file "~/.config/tmux/theme.conf"

run '~/.config/tmux/plugins/tpm/tpm'
